@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-clr: #303453;
    --accent-clr: #22253b;
    --primary-clr: #fd9e41;
    --secondary-clr: #0e755a;
    --light-clr: #fff;
}

body{
    background-color: var(--bg-clr);
    color: var(--light-clr);
}
.header{
    text-align: center;
    margin-bottom: 10px;
}
.container{
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
}
.form-control{
    position: relative;
}
.filter{
    color: var(--primary-clr);
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    display: none;
}

.new-item{
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    margin: 5px;
}

.fa-plus-circle{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: scale(1.2);
    transform: translateY(-50%);
    color: var(--primary-clr);
    font-size: 24px;
    transition: font-size 100ms ease-in-out;
}

.fa-plus-circle:hover{
    font-size: 29px;
}

.app{
    margin-top: 10px;
}

.todo-list{
    padding: 0;
}

.todo-item{
    transition: opacity 1s ease-in-out;
    background-color: var(--accent-clr);
    color: var(--light-clr);
    position: relative;
    border-radius: 5px;
    list-style: none;
    font-size: 18px;
    padding: 15px;
    margin: 15px;
}

.cheked{
    animation: go-left 500ms 0ms 0ms 1  ease-in-out;
}

.checked::before{
    content: '';
    position: absolute;
    top: 50%;
    height: 2px;
    width: calc(100% - 15px);
    background-color: var(--light-clr);
    opacity: 1;
}

.checked::before{
    animation: go-left 800ms 0s  1 ease-in-out;
}

.done{
    opacity: 0.2;
    pointer-events: none;
}

.deleted{
    animation: slide-out 900ms 0s ease-in-out;
}

.icon{
    cursor: pointer;
    color: var(--light-clr);
    position: absolute;
    right: 0;
    margin: auto;
    height: 100%;
    width: 57px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.far{
    background-size: auto;
    right: 10px;
    font-size: 24px;
    color: inherit;
}

.trash{
    background-color: var(--primary-clr);
}

.check{
    right: 57px;
    background-color: var(--secondary-clr);
}

.trash:hover,.check:hover{
    background: none;
    border: 2px solid;
}

.trash:hover{
    border-color: var(--primary-clr);
    color: var(--primary-clr);

}

.check:hover{
    border-color: var(--light-clr);
    transform: scale(0.9);
}

.far{
    font-size: 30px;
}


@keyframes slide-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        margin-top:3%;
    }
}
@keyframes go-left{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        width: calc(100% - 15px);
        opacity: 1;
    }
}

@media only screen and (min-width: 750px){
    
    .container{
        max-width: 760px;
    }

    .fa-plus-circle{
        right: auto;
        left: 413px;
    }

    .form-control{
        display: flex;
        justify-content: space-around;
    }

    .filter{
        margin: 5px;
        display: block;
    }
}